<app-top-bar></app-top-bar>
<div class="back">
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <form [formGroup]="signupForm" action="#">
                <div class="user-details">

                    <div class="input-box">
                        <span for="firstName">First Name:</span>
                        <div *ngIf="firstName?.touched && firstName?.invalid" class="error-list">
                            <div *ngIf="firstName?.errors?.['required']">
                                First Name is required.
                            </div>
                        </div>


                        <input type="text" id="firstName" formControlName="firstName" maxlength="10"
                            placeholder="Enter Your First Name">
                    </div>

                    <div class="input-box">
                        <span for="lastName">Last Name:</span>
                        <div class="error-list" *ngIf="lastName?.touched && lastName?.invalid">
                            <div *ngIf="lastName?.errors?.['required']"> Last Name is required.
                            </div>
                        </div>
                        <input type="text" id="lastName" formControlName="lastName" maxlength="10"
                            placeholder="Enter Your Last Name">
                    </div>

                    <div class="input-box">
                        <span for="phoneNumber">Phone Number:</span>
                        <div class="error-list" *ngIf="phoneNumber?.touched && phoneNumber?.invalid">
                            <div *ngIf="phoneNumber?.errors?.['required']"> phone number is
                                required.
                            </div>
                            <div *ngIf="!phoneNumber?.errors?.['required']">
                                <div *ngIf="phoneNumber?.errors?.['pattern']"> Phone number should
                                    contain only 10
                                    numbers.</div>
                            </div>
                        </div>
                        <input type="text" id="phoneNumber" formControlName="phoneNumber" maxlength="10"
                            placeholder="Enter Your Phone Number">
                    </div>

                    <div class="input-box">
                        <span for="email">Email:</span>
                        <div class="error-list" *ngIf="email?.touched && email?.invalid">
                            <div *ngIf="email?.errors?.['required']"> Email is required.</div>
                            <div *ngIf="!email?.errors?.['required'] && email?.errors?.['invalidEmail']">
                                Invalid email
                                format.
                            </div>
                        </div>
                        <div class="error-list"
                            *ngIf="signupForm.valid && statusCode===409 && errorMessage.message.includes('Email')">
                            Email already exists.
                        </div>
                        <input type="email" id="email" formControlName="email" placeholder="Enter Your Email">
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register" [disabled]="signupForm.invalid" (click)="updateUserProfile()">
                </div>
            </form>
        </div>
    </div>
</div>