<app-top-bar></app-top-bar>
<section class="back">
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <form [formGroup]="updateForm" action="#">
                <div class="user-details">

                    <article class="input-box">
                        <span for="firstName">First Name:</span>
                        @if (firstName?.touched && firstName?.invalid) {
                        <div class="error-list">
                            @if (firstName?.errors?.['required']) {
                            <div>
                                First Name is required
                            </div>
                            }
                        </div>
                        }
                        <input type="text" id="firstName" formControlName="firstName" maxlength="10"
                            placeholder="Enter Your First Name" (keypress)="OnlyAlphabets($event)">
                    </article>

                    <article class="input-box">
                        <span for="lastName">Last Name:</span>
                        @if (lastName?.touched && lastName?.invalid) {
                        <div class="error-list">
                            @if (lastName?.errors?.['required']) {
                            <div> Last Name is required
                            </div>
                            }
                        </div>
                        }
                        <input type="text" id="lastName" formControlName="lastName" maxlength="10"
                            placeholder="Enter Your Last Name" (keypress)="OnlyAlphabets($event)">
                    </article>

                    <article class="input-box">
                        <span for="phoneNumber">Phone Number:</span>
                        @if (phoneNumber?.touched && phoneNumber?.invalid) {
                        <div class="error-list">
                            @if (phoneNumber?.errors?.['required']) {
                            <div> Phone number is
                                required
                            </div>
                            } @else {
                            <div>
                                @if (phoneNumber?.errors?.['pattern']) {
                                <div>Phone number must be 10 digits</div>
                                }
                            </div>
                            }
                        </div>
                        }
                        <input type="text" id="phoneNumber" formControlName="phoneNumber" maxlength="10"
                            placeholder="Enter Your Phone Number" (keypress)="OnlyNumbers($event)">
                    </article>

                    <article class="input-box">
                        <span for="email">Email:</span>
                        @if (email?.touched && email?.invalid) {
                        <div class="error-list">
                            @if (email?.errors?.['required']) {
                            <div> Email is required</div>
                            } @else {
                            @if (email?.errors?.['invalidEmail']) {
                            <div>
                                Invalid email
                                format
                            </div>
                            }
                            }
                        </div>
                        }
                        @if (updateForm.valid && statusCode===409 && errorMessage.message.includes('Email')) {
                        <div class="error-list">
                            Email already exists
                        </div>
                        }
                        <input type="email" id="email" formControlName="email" placeholder="Enter Your Email">
                    </article>

                </div>
                <div class="button">
                    @if (updateForm.invalid) {<input type="submit" value="Update" (click)="submitForm()"
                        title="fill all the required fields">}
                    @else {<input type="submit" value="Update" [disabled]="updateForm.invalid"
                        (click)="serviceError(statusCode); updateUserProfile()">}
                </div>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>