<div class="landing-page">
    <header>
        <div class="container">
            <a routerLink="/home" class="logo">Movie <b>App</b></a>
            <ul class="links">
                <li routerLink="/login">Login</li>
                <li routerLink="/signup">Signup</li>
                <li routerLink="/login">Get Started</li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Wishlist Your Movies</h1>
                <p>This is an Angular (v17.3.4) and Spring Boot (v3.2.4/3.2.5) project, structured around a
                    microservices
                    architecture. It's designed to integrate with the IMDb API to retrieve details about the top 100
                    movies. This project serves as a comprehensive practice exercise, covering a broad range of
                    technologies commonly used in developing fully-fledged Spring microservices projects, including API
                    gateway implementation, Spring Cloud integration, and <a matTooltip="Documentation"
                        href="https://github.com/tejajagadeep/movie-app">more.</a></p>
                <button routerLink="/login">Login</button>
            </div>
            <div class="image">
                <img src="https://i.postimg.cc/65QxYYzh/001234.png">
            </div>
        </div>
    </div>
</div>