<app-top-bar></app-top-bar>
@if (movieResponse.data) {
@if (movieResponse.data.length===0) {
<app-no-content></app-no-content>
}
@else if (movieResponse.data.length>0) {
@for(movie of movieResponse.data; track $index){
<div class="movie_card" id="bright">
    <div class="info_section">
        <div class="movie_header">
            <img class="locandina" [src]="movie.image" />
            <h1 [title]="movie.title">{{movie.title}}</h1>
            <h4> {{movie.year}}</h4>
            <span class="minutes">{{movie.rating}}</span>
            @for(g of movie.genre; track $index) {
            <p class="type">{{g}}</p>
            }
        </div>
        <div class="movie_desc">
            <p class="text">
                {{movie.description}}
            </p>
        </div>
        <div class="movie_social">
            <ul>
                <li><i class="material-icons" [routerLink]="['/movie-details',movie.id]" title="play trailer">play</i>
                </li>
                @if (imdbIds.includes(movie.imdbid)) {<li><i (click)="delete(movie.imdbid)" class="material-icons pink"
                        title="remove from favorites">favorite</i></li>
                } @else {
                <li><i class="material-icons" (click)="saveWishlist(movie)" title="add to favorites">favorite</i>
                </li>
                }
                <li><i class="material-icons" (click)="moreDetails(movie.imdb_link)"
                        title="redirect to Imdb to get more details">more</i></li>
            </ul>
        </div>
    </div>
    <div class="blur_back bright_back" [style.background-image]="'url(' + movie.image + ')'"></div>
</div>
}
}
}
@else {
<app-internal-server-error></app-internal-server-error>
}
<app-footer></app-footer>