<app-top-bar></app-top-bar>
<div *ngFor="let movie of movieResponse.data">
    <div class="movie_card" id="bright">
        <div class="info_section">
            <div class="movie_header">
                <img class="locandina" [src]="movie.image" />
                <h1>{{movie.title}}</h1>
                <h4> {{movie.year}}</h4>
                <span class="minutes">{{movie.rating}}</span>
                <p class="type" *ngFor="let g of movie.genre">
                    {{g}}
                </p>
            </div>
            <div class="movie_desc">
                <p class="text">
                    {{movie.description}}
                </p>
            </div>
            <div class="movie_social">
                <ul>
                    <li><i class="material-icons" (click)="playTrailer(movie.id)">play</i></li>
                    <li *ngIf="imdbIds.includes(movie.imdbid); else addfavorite"><i (click)="delete(movie.imdbid)"
                            class="material-icons pink">favorite</i></li>
                    <ng-template #addfavorite>
                        <li><i class="material-icons" (click)="saveWishlist(movie)">favorite</i></li>
                    </ng-template>
                    <li><i class="material-icons" (click)="moreDetails(movie.imdb_link)">more</i></li>
                </ul>
            </div>
        </div>
        <div class="blur_back bright_back" [style.background-image]="'url(' + movie.image + ')'"></div>
    </div>
</div>
<app-footer></app-footer>