<br>
<br>
<button *ngIf="showBtn$ | async" class="top-btn" (click)="gotoTop()">
    &uarr;
</button>
<footer class="footer bg-dark text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Social media links -->
                <i class="ci ci-github ci-2x" matTooltip="Redirect to Source Code"
                    (click)="redirectTo('https://github.com/tejajagadeep/movie-app')"></i>
                <span class="separator"></span>
                <i class="ci ci-linkedin ci-2x" matTooltip="Redirect to Owner Profile"
                    (click)="redirectTo('https://www.linkedin.com/in/kollimarla-jagadeep-88411b154/')"></i>
                <span class="separator"></span>
                <i class="ci ci-youtube ci-2x" matTooltip="Redirect to Owner Chanel"
                    (click)="redirectTo('https://www.youtube.com/channel/UCX5gmJJ_0nsXQfV5iyYcs8A')"></i>


            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>&copy; 2024 Movie App Web. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>