@import url(https://cdn.jsdelivr.net/gh/dheereshagrwal/colored-icons@1.7.5/src/app/ci.min.css);

.top-btn {
  position: fixed;
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  font-size: 5px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  z-index: 99 !important;
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: rgb(0, 0, 0);
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  opacity: 0.8;
  padding: 10px;
  /* Some padding */
  /* border-radius: 10px;  Rounded corners */
  font-size: 14px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

img {
  width: 5px;
  height: 5px;
}

.footer {
  overflow: hidden;
  background-color: darkgrey;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-bottom: 30px;
}

p {
  font-family: Lato;
}

.social-icon {
  width: 25px;
  height: 25px;
}
.ci {
  padding-top: 5px;
  cursor: pointer;
}
.separator {
  margin: 0 5px;
}
