<mat-sidenav-container style="height: 100vh;">
    <mat-sidenav #sidenav mode="side" class="custom-sidenav">
        <p>
            <button mat-icon-button matTooltip="home" routerLink="/home">
                <mat-icon>home</mat-icon>
            </button>
        </p>
        <p>
            <button mat-icon-button matTooltip="wishlist" routerLink="/wishlist">
                <mat-icon>bookmarks</mat-icon>
            </button>
        </p>
        <div class="my-form-side">
            <p>
                <mat-form-field appearance="fill" class="custom-form-field">
                    <mat-label>Search Title</mat-label>
                    <input matInput type="text" [formControl]="searchControl">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill" class="custom-form-field">
                    <mat-label>Genre</mat-label>
                    <mat-select (selectionChange)="filterGenre($event.value)">
                        @for (option of options; track $index) {<mat-option [value]="option.value">{{
                            option.viewValue
                            }}</mat-option>}
                    </mat-select>

                </mat-form-field>
            </p>
        </div>
        <div class="bottom-buttons">
            <p>
                <button mat-icon-button matTooltip="update profile" routerLink="/update-profile">
                    <mat-icon>update</mat-icon>
                </button>
            </p>
            <p>
                <button mat-icon-button matTooltip="profile" routerLink="/profile">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </p>
            <p>
                <button mat-icon-button matTooltip="logout" routerLink="/login" (click)="logout()">
                    <mat-icon matTooltip="Click to logout">logout</mat-icon>
                </button>
            </p>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="toolbar">
            <button mat-icon-button matTooltip="sidenav" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Movie App</span>
            <span class="spacer"></span>
            <div class="centered-content">
                <div class="my-form-tool">
                    <mat-form-field appearance="fill" class="custom-form-field">
                        <mat-label>Search Title</mat-label>
                        <input matInput type="text" [formControl]="searchControl">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="custom-form-field">
                        <mat-label>Genre</mat-label>
                        <mat-select (selectionChange)="filterGenre($event.value)">
                            @for (option of options; track $index) {<mat-option [value]="option.value">{{
                                option.viewValue
                                }}</mat-option>}
                        </mat-select>

                    </mat-form-field>
                </div>
                <button mat-flat-button matTooltip="username" style="color: whitesmoke;" disabled>{{username}}</button>
            </div>

        </mat-toolbar>
        @if (statusCodeMovie===404){
        <app-not-found></app-not-found>
        } @else {
        @if (movieResponse.data) {
        @if (movieResponse.data.length===0) {
        <app-not-found></app-not-found>
        }
        @else if (movieResponse.data.length>0) {
        @if(movieResponse){

        <div class="container">

            @for (movie of pagedMovies; track $index) {
            <div class="nft">

                <div class='main'>
                    <div class="image-container">
                        <img class="tokenImage" [src]="movie.image" alt="NFT" />
                        <div class="fas fa-icon">
                            @if (imdbIds.includes(movie.imdbid)) {
                            <button mat-fab class="more" matTooltip="delete from wishlist"
                                (click)="serviceError(statusCode); delete(movie.imdbid)" color="primary"
                                aria-label="Example icon button with a home icon"
                                style="color: rgba(255, 0, 0, 0.854);">
                                <mat-icon>bookmark</mat-icon>
                            </button>
                            }@else {
                            <button mat-fab class="more" matTooltip="save to wishlist"
                                (click)="serviceError(statusCode); saveWishlist(movie)" color="primary"
                                aria-label="Example icon button with a home icon">
                                <mat-icon>bookmark</mat-icon>
                            </button>
                            }
                        </div>
                        <button mat-fab class="more" matTooltip="Redirect to IMDB for more details"
                            (click)="moreDetails(movie.imdb_link)" color="primary"
                            aria-label="Example icon button with a home icon">
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                        <i class="rank" matTooltip="rank">{{movie.rank}}</i>

                    </div>

                    <h3 [matTooltip]="movie.title">{{movie.title}}</h3>
                    <p class='description'>{{movie.description}}</p>
                    <div class="tags">
                        <div class='tokenInfo'>
                            <div class="price" matTooltip="IMDB Rating">
                                <ins><span class="material-icons">&#xe838;</span></ins>
                                <p>{{movie.rating}}</p>
                            </div>
                            <div class="duration" matTooltip="Release Year">
                                <ins><mat-icon>
                                        calendar_month
                                    </mat-icon></ins>
                                <p>{{movie.year}}</p>
                            </div>
                        </div>
                        <hr />
                        <div class='creator'>
                            <div class='wrapper'>
                                <img [src]="movie.thumbnail" matTooltip="Thumbnail" alt="Creator" />
                            </div>
                            <p>@for (g of movie.genre; track $index) {
                            <div class="type">{{g}}</div> }</p>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        }

        @if (totalPages > 0) {<mat-paginator class="paging" [showFirstLastButtons]="true" [length]="totalPages"
            [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="paginatorPage($event)">
        </mat-paginator>
        }
        <app-footer></app-footer>
        }
        }
        @else {
        <app-internal-server-error></app-internal-server-error>
        }
        }

    </mat-sidenav-content>
</mat-sidenav-container>