/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 20, 24);
  color: #eee;
  user-select: none;
} */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
  padding: 20px; /* Optional: Add padding to the container */
}
.nft {
  user-select: none;
  max-width: 280px;
  margin: 1rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  ins {
    text-decoration: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    .tokenImage {
      border-radius: 0.5rem;
      max-width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .description {
      margin: 0.5rem 0;
      color: #c2b7e4;
      margin-top: -10px;
    }
    .tokenInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
        ins {
          margin-left: -0.3rem;
          margin-right: 0.5rem;
        }
      }
      .duration {
        display: flex;
        align-items: center;
        color: #a89ec9;
        margin-right: 0.2rem;
        ins {
          margin: 0.5rem;
          /* margin-bottom: 0.4rem; */
        }
      }
    }
    .creator {
      display: flex;
      align-items: center;
      margin-top: 0.2rem;
      margin-bottom: -0.3rem;
      ins {
        color: #a89ec9;
        text-decoration: none;
      }
      .wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: 0.3rem;
        margin: 0;
        margin-right: 0.5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img {
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  &:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    /* ::before {
      filter: brightness(0.5);
      top: -100%;
      left: 200%;
    } */
  }
}

.tags {
  position: -ms-page;
  bottom: 0;
  left: 0;
  width: 100%;
}

.tags hr {
  border-color: #88888855;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 20rem;
    filter: opacity(0.5);
  }
}

h3 {
  overflow: auto;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflow */
  transition: transform 1s;
}
.image-container {
  position: relative;
}

.tokenImage {
  display: block;
  width: 100%; /* Ensure the image takes up the full width of its container */
}

.fa-icon {
  position: absolute;
  top: 40px;
  right: 20px;
  cursor: pointer; /* Adjust the right position as needed */
}
.type {
  display: inline-block;
  color: #959595;
  margin-left: 10px;
}
.rank {
  position: absolute;
  top: 5px;
  left: 10px;
  display: inline-block;
  color: white; /* Text color */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Creating black fill */
  padding: 4px; /* Adjust padding as needed */
  border-radius: 4px;
  font-size: 24px;
}

.more {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.419);
  border-radius: 50%; /* Make it circular */
  width: 27px; /* Adjust width and height for your needs */
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1;
}

.toolbar {
  display: flex;
  align-items: center; /* Align items vertically */
}

.spacer {
  flex: 1; /* Fill remaining space */
}

.centered-content {
  display: flex;
  align-items: center; /* Align items vertically */
}

.nft .description,
.nft .price p,
.nft .duration p,
.nft .type {
  font-size: 0.93rem; /* Adjust the font size as needed */
}

.nft .rank {
  font-size: 25px; /* Adjust the font size as needed */
}

.nft .more {
  font-size: 0.7rem; /* Adjust the font size as needed */
}

.mat-form-field {
  margin: 0 10px; /* Adjust margin as needed */
}
.my-form-tool .custom-form-field {
  width: 40%; /* Adjust the width as needed */
}

.custom-sidenav {
  background-color: #3f51b5; /* Change this to your desired background color */
  color: white;
}

.bottom-buttons {
  position: absolute;
  bottom: 0;
}

.custom-form-field {
  padding-top: 5%;
  padding-right: 10px;
  height: 75px;
}

.paging {
  background-color: steelblue;
}

.my-form-tool {
  /* Default width */
  width: 100%;
  max-width: 650px; /* Set maximum width to 650px */
  margin: 0 auto; /* Center the form horizontally */
}

@media screen and (max-width: 650px) {
  .my-form-tool {
    display: none; /* Hide for smaller screens */
  }

  .my-form-side {
    display: block; /* Show for smaller screens */
  }
}

/* Define the default styling for larger screens */
.my-form-side {
  display: none; /* Hide for larger screens */
}
