<div class="back">
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <form [formGroup]="signupForm" action="#">
                <div class="user-details">

                    <div class="input-box">
                        <span for="firstName">First Name:</span>
                        <input type="text" id="firstName" formControlName="firstName" maxlength="10"
                            placeholder="Enter Your First Name">
                        <ul *ngIf="firstName?.touched && firstName?.invalid" class="error">
                            <li *ngIf="firstName?.errors?.['required']"><span>&#8226;</span> First Name is required.
                            </li>
                        </ul>
                    </div>

                    <div class="input-box">
                        <span for="lastName">Last Name:</span>
                        <input type="text" id="lastName" formControlName="lastName" maxlength="10"
                            placeholder="Enter Your Last Name">
                        <ul *ngIf="lastName?.touched && lastName?.invalid" class="error">
                            <li *ngIf="lastName?.errors?.['required']"><span>&#8226;</span> Last Name is required.</li>
                        </ul>
                    </div>

                    <div class="input-box">
                        <span for="dateOfBirth">Date of Birth:</span>
                        <input type="date" id="dateOfBirth" formControlName="dateOfBirth">
                        <ul *ngIf="dateOfBirth?.touched && dateOfBirth?.invalid" class="error">
                            <li *ngIf="dateOfBirth?.errors?.['required']"><span>&#8226;</span> Date of Birth is
                                required.</li>
                        </ul>
                    </div>

                    <div class="input-box">
                        <span for="phoneNumber">Phone Number:</span>
                        <input type="text" id="phoneNumber" formControlName="phoneNumber" maxlength="10"
                            placeholder="Enter Your Phone Number">
                        <ul *ngIf="phoneNumber?.touched && phoneNumber?.invalid" class="error">
                            <li *ngIf="phoneNumber?.errors?.['required']"><span>&#8226;</span> phone number is required.
                            </li>
                            <div *ngIf="!phoneNumber?.errors?.['required']">
                                <li *ngIf="phoneNumber?.errors?.['pattern']"><span>&#8226;</span> Phone number should
                                    contain only 10
                                    numbers.</li>
                            </div>
                        </ul>
                    </div>

                    <div class="input-box">
                        <span class="details" for="username">Username:</span>
                        <input type="text" id="username" formControlName="username" maxlength="10"
                            placeholder="Enter Your Username">
                        <ul *ngIf="username?.touched && username?.invalid" class="error">
                            <li *ngIf="username?.errors?.['required']"><span>&#8226;</span> Username is required.</li>
                            <li *ngIf="!username?.errors?.['required'] && username?.errors?.['minlength']">
                                <span>&#8226;</span> Username
                                should be at least 5 characters
                                long.
                            </li>
                        </ul>
                        <div *ngIf="signupForm.valid && statusCode===409 && errorMessage.message.includes('Username')"
                            class="error">
                            <span>&#8226;</span> Username already exists.
                        </div>
                    </div>

                    <div class="input-box">
                        <span for="email">Email:</span>
                        <input type="email" id="email" formControlName="email" placeholder="Enter Your Email">
                        <ul *ngIf="email?.touched && email?.invalid" class="error">
                            <li *ngIf="email?.errors?.['required']"><span>&#8226;</span> Email is required.</li>
                            <li *ngIf="!email?.errors?.['required'] && email?.errors?.['invalidEmail']">
                                <span>&#8226;</span> Invalid email
                                format.
                            </li>
                        </ul>
                        <div *ngIf="signupForm.valid && statusCode===409 && errorMessage.message.includes('Email')"
                            class="error">
                            <span>&#8226;</span> Email already exists.
                        </div>
                    </div>

                    <div class="input-box">
                        <span class="details" for="password">Password: ABCabc!123</span>
                        <input type="password" id="password" formControlName="password"
                            placeholder="Enter Your Password">
                        <ul *ngIf="password?.touched && password?.invalid" class="error">
                            <li *ngIf="password?.errors?.['required']"><span>&#8226;</span> Password is required.</li>
                            <div *ngIf="!password?.errors?.['required']">
                                <li *ngIf="password?.errors?.['length']"><span>&#8226;</span> Password should be at
                                    least 8 characters long.
                                </li>
                                <li *ngIf="password?.errors?.['number']"><span>&#8226;</span> Password should contain at
                                    least 1 number.
                                </li>
                                <li *ngIf="password?.errors?.['upper']"><span>&#8226;</span> Password should contain at
                                    least 1 uppercase
                                    letter.</li>
                                <li *ngIf="password?.errors?.['lower']"><span>&#8226;</span> Password should contain at
                                    least 1 lowercase
                                    letter.</li>
                                <li *ngIf="password?.errors?.['symbol']"><span>&#8226;</span> Password should contain at
                                    least 1 symbol.
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="input-box">
                        <span for="confirmPassword">Confirm Password:</span>
                        <input type="password" id="confirmPassword" formControlName="confirmPassword"
                            placeholder="Re-Enter Your Password">
                        <ul *ngIf="confirmPassword?.touched && confirmPassword?.invalid" class="error">
                            <li *ngIf="confirmPassword?.errors?.['required']"><span>&#8226;</span> Confirm Password is
                                required.</li>
                            <li
                                *ngIf="!confirmPassword?.errors?.['required'] && confirmPassword?.errors?.['confirmedValidator']">
                                <span>&#8226;</span> Passwords do not match.
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="button">
                    <input type="submit" value="Register" [disabled]="signupForm.invalid" (click)="saveUserProfile()">
                </div>
            </form>
        </div>
    </div>
</div>