<app-top-bar></app-top-bar>
<div>
    <div class="position">
        <div class="container">
            <input type="checkbox" id="flip">
            <div class="cover">

                <div class="front">
                    <img src="assets/images/register.jpg" alt="">
                    <div class="text">
                        <span class="text-1">Every new friend is a <br> new adventure</span>
                        <span class="text-2">Let's get connected</span>
                    </div>

                </div>
                <div class="back">
                    <div class="text">
                        <span class="text-1">Complete miles of journey <br> with one step</span>
                        <span class="text-2">Let's get started</span>
                    </div>
                </div>

            </div>
            <div class="forms">
                <div class="form-content">
                    <div class="login-form">
                        <div class="title">Login</div>
                        <form action="#" [formGroup]="loginForm">
                            <div class="input-boxes">
                                <div class="input-container">
                                    <div class="input-box">
                                        <i class="fas fa-envelope"></i>
                                        <input type="text" id="username" formControlName="username" maxlength="10"
                                            placeholder="Enter your username">
                                    </div>
                                    @if (username?.touched && username?.invalid) {<ul class="error-list">
                                        @if (username?.errors?.['required']) {<li>Username is required</li>}
                                        @else if (username?.errors?.['minlength']){<li>
                                            Username is not valid</li>}
                                    </ul>
                                    }
                                    @if (loginForm.valid && statusCode === 404) {<ul class="error-list">
                                        <li>Username does not exist</li>
                                    </ul>}

                                </div>
                                <div class="input-container">
                                    <div class="input-box">
                                        <i class="fas fa-lock"></i>
                                        <input type="password" id="password" formControlName="password"
                                            placeholder="Enter your password">
                                        @if (password?.touched && password?.invalid) {
                                        <ul class="error-list">
                                            @if (password?.errors?.['required']) {<li> Password is
                                                required</li>
                                            } @else if (password?.errors?.['pattern'] ||
                                            password?.errors?.['minLength']) {
                                            <li>
                                                Password is not valid
                                            </li>
                                            }

                                        </ul>
                                        }
                                        @if (loginForm.valid && statusCode === 401) {
                                        <ul class="error-list">
                                            <li>incorrect password</li>
                                        </ul>
                                        }

                                    </div>
                                </div>
                                <!-- <div class="text"><a href="#">Forgot password?</a></div> -->
                                <div class="button input-box">
                                    <input type="submit" value="submit" [disabled]="loginForm.invalid"
                                        (click)="serviceError(statusCode); login()">
                                </div>
                                <div class="text sign-up-text">Don't have an account? <label
                                        [routerLink]="['/signup']">Sigup
                                        now</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="signup-form">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>