* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* main {
  font-family: montserrat;
} */
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
  z-index: 200;
  position: relative;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active {
  background: #1b9bff;
  transition: 0.5s;
}
a:hover {
  background: rgb(0, 4, 255);
  transition: 0.5s;
}
a.deactive {
  background: #ff3c3c;
  transition: 0.5s;
  cursor: pointer;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  nav {
    z-index: 5;
  }
  label.logo {
    font-size: 30px;
    padding-left: 50px;
    z-index: 5;
  }
  nav ul li a {
    font-size: 16px;
    z-index: 5;
  }
}
@media (max-width: 858px) {
  nav {
    z-index: 5;
  }
  .checkbtn {
    display: block;
    z-index: 5;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 5;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    z-index: 5;
  }
  nav ul li a {
    font-size: 20px;
    z-index: 5;
  }
  a.active {
    background: none;
    color: #0082e6;
    z-index: 5;
  }
  a.deactive {
    color: #ff3c3c;
    background: none;
    z-index: 5;
  }
  a:hover {
    background: none;
    color: #3c53ff;
    z-index: 5;
  }
  #check:checked ~ ul {
    left: 0;
    z-index: 5;
  }
}

@media (max-width: 380px) {
  label.logo {
    font-size: 24px; /* Adjust font size */
    padding: 0 20px; /* Adjust padding */
    line-height: 80px; /* Ensure the logo stays centered vertically */
  }
  .checkbtn {
    margin-right: 20px; /* Adjust margin for the menu button */
  }
  nav ul li {
    line-height: 80px; /* Adjust line-height for the list items */
  }
  nav ul li a {
    font-size: 16px; /* Adjust font size */
  }
}

section {
  background-size: cover;
  height: calc(100vh - 80px);
}
