<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars">&#9776;</i>
    </label>
    <label class="logo">MovieApp</label>
    <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        @if (isLoggedIn) {
        <li><a [routerLink]="['/wishlist']">Wishlist</a></li>
        <li><a [routerLink]="['/profile']">{{username}}</a></li>
        <li><a class="deactive" [routerLink]="['/login']" (click)="logout()">Logout</a></li>
        } @else{
        <li><a class="active" [routerLink]="['/login']">Login</a></li>
        }
    </ul>
</nav>